.custom-shape-divider-top-1643536783 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1643536783 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 237px;
}

.custom-shape-divider-top-1643536783 .shape-fill {
    fill: #26BF55;
}